<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598468827921-32sm0gqsuum2b1uprsi3qntlbd9rl0h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598468827921-32sm0gqsuum2b1uprsi3qntlbd9rl0h8</string>
	<key>API_KEY</key>
	<string>AIzaSyAQq4ipflgXTFTbP8NNDQ0slGcmqcqFQU0</string>
	<key>GCM_SENDER_ID</key>
	<string>598468827921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.lfpn.selva</string>
	<key>PROJECT_ID</key>
	<string>selva-e38bc</string>
	<key>STORAGE_BUCKET</key>
	<string>selva-e38bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598468827921:ios:345b6315decf8a7a7ecab0</string>
</dict>
</plist>